#Ignore EVERYTHING
/*

#Don't ignore the battlegear mod src folder
!battlegear mod src/

!battlegear api/

!battlegear gimp files

!battlegear dist/

!mods/

!src/

#Also don't ignore the install scripts
!gradle*
!gradle/
!build.gradle

#Or this file ;) (or readme)
!.gitignore
!README.md
!ForumPost
!ItemStats.md
!LICENCE
!bg-logo.png
!mod.properties
!battlegear_update.xml
!changelog.md


