*.class

# Package Files #
*.jar
*.war
*.ear

#Ignore EVERYTHING
/*
/*/

#Don't ignore the battlegear mod src folder
!/battlegear mod src/
!battlegear mod src/*

!/battlegear lang files/
!battlegear lang files/*

!battlegear gimp files/
!battlegear gimp files/*

!battlegear dist/
!battlegear dist/*

!mods/

#Also don't ignore the install scripts
!battlegear-*
!gradlew*
!gradle/

#Or this file ;) (or readme)
!.gitignore
!README.md
!ForumPost
!ItemStats.md
!LICENCE.txt
!LICENCE
!build.xml
!bg-logo.png
!mod.properties
!battlegear_update.xml
!changelog.md
!build.gradle
!battlegear_dummy.jar

*~
*.rej
*.orig
*Thumbs.db


